<%- include("partials/header") %>
<div class="container-fluid">
    <div class="row">
        <div class="cover-photo-container col col-4 col-lg-3">
            <img src="/uploads/images/<%=itemInfo.image%>" class="cover-photo" alt="">
            <form action="/download" method="post" target="_blank">
                <a href="<%=itemInfo.downloadLink%>" target="_blank">
                    <button name="idName" value="<%=itemInfo._id%>" class="download-button">Download</button>
                </a>
            </form>

        </div> 
        
        <div class="metadata-container col col-8 col-lg-9">
            <h1 class="item-title"> <%= itemInfo.title.toUpperCase() %> </h1>
            <div class="meta-data">
                <p class="meta-value"><span class="meta-name">Volume: </span> <%= itemInfo.volume %> </p>
                <p class="meta-value"><span class="meta-name">Author: </span><%= itemInfo.author %></p>
                <p class="meta-value"><span class="meta-name">Date Shared: </span><%= itemInfo.createdAt.toLocaleDateString("en-US") %></p>
                <p class="meta-value"><span class="meta-name">Shared by: </span><a href="/visit/<%=uploader%>"><%=itemInfo.uploader %></a></p>
                <p class="meta-value"><span class="meta-name">Rating: </span><%= %> None</p>
                <p class="meta-value"><span class="meta-name">Downloads: </span><%= itemInfo.meta.downloads %></p>
            </div>
            <div class="summary-section hide-if-small">
                <h1 class="category-name">Summary</h1>
                <p class="description"><%= itemInfo.summary %></p>
            </div>
        </div>

    </div>    
</div>

<div class="section-container">
    <h1 class="category-name">Other Volumes</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="owl-carousel">
                <% books.forEach(function(data) { %>
                <div class="card book">
                    <a href="/item/<%=data._id%>">
                    <img class="entry-image" src="/uploads/images/<%=data.image%>" alt="">
                    <div class="card-body book-data">
                        <h5 class="card-title no-hover">
                            <%= data.title.length > 15 ? data.title.slice(0 , 15).toUpperCase() + "..." : data.title.toUpperCase() %>
                        </h5>
                        <p class="card-text card-volume no-hover">Vol: <%= data.volume %></p>
                    </a>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>

<div class="summary-section hide-if-large">
    <h1 class="category-name">Summary</h1>
    <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore magni, exercitationem accusantium itaque unde quisquam, consequuntur, eum soluta dolorem optio excepturi odio totam asperiores reprehenderit voluptatibus fuga distinctio repellat expedita!</p>
</div>

<div class="comment-section">
        <h1 class="category-name">Comments</h1>
        <form action="/comment" method="post">
            <div class="comment-input-container">
                <img class="comment-profile" src="<%=user.profileImage%>" alt="Your Profile">
                <input type="text" name="currentBook" value="<%=itemInfo._id%>" class="hidden">
                <textarea name="commentData" class="form-control comment-input" rows="2" id="exampleFormControlTextarea1" ></textarea>
                <button type="submit" class="btn btn-primary send-comment">Send <i class="bi bi-send"></i></button>
            </div>
        </form>

        <% for(let i = comments.length - 1; i >= 0; i--){%> 
            <div class="comment-input-container prev-comment">
                <%=commentors[i].username%>
                <img src="<%=commentors[i][0].profileImage%>" class="comment-profile" alt="Commentor Profile">
                <div class="text-comment">
                    <div class="name-time">
                        <h4><%=commentors[i][0].username%></h3>
                        <p><%=comments[i].time.toLocaleDateString("en-US")%></p>
                    </div>
                    
                    <p class="commentor-says"><%=comments[i].message%></p>
                </div>
            </div>
            <%}%>
</div>

<script>
    const textarea = document.querySelector(".comment-input");
    console.log(textarea)

    textarea.addEventListener("input", e => {
        textarea.style.height = "auto";
        let height = e.target.scrollHeight;
        console.log(height)
        textarea.style.height = height + "px";
    })

</script>
<%- include("partials/footer") %>


