<%- include("partials/header") %>


<form action="<%=bookDetail ? '/updateBook/' + bookDetail._id : '/submitBook'%>" class="form-container" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-lg-7">
                <h3 class="input-name">Title</h3>
                <div class="input-group mb-3">
                    <input
                    type="text"
                    class="form-control user-input"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    name="bookTitle"
                    value="<%= bookDetail ? bookDetail.title.toUpperCase() : ''%>"
                    placeholder="Mushoku Tensei"
                    required
                    />
                </div>
            </div>

            <div class="col col-12 col-lg-4">
                <h3 class="input-name">Author</h3>
                <div class="input-group mb-3">
                    <input
                    type="text"
                    class="form-control user-input"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    name="authorName"
                    value="<%= bookDetail ? bookDetail.author : ''%>"
                    placeholder="Rifujin na Magonate"
                    required
                    />
                </div>  
            </div>

            <div class="col col-12 col-lg-7">
                <h3 class="input-name">Download Link</h3>
                <div class="input-group mb-3">
                    <input
                    type="text"
                    class="form-control user-input"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    name="downloadLink"
                    value="<%= bookDetail ? bookDetail.downloadLink : ''%>"
                    placeholder="https://drive.google.com/file/d/1C2T5N7KvEBxD4aQSFzoXdw117YRBX_Sj/view?usp=sharing"
                    required
                    />
                </div>
            </div>

            <div class="col col-3 col-lg-2">
                <h3 class="input-name">Volume</h3>
                <div class="input-group mb-3">
                    <input
                    type="number"
                    class="form-control user-input"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    name="volumeNumber"
                    value="<%= bookDetail ? bookDetail.volume : ''%>"
                    placeholder="1"
                    required
                    />
                </div>
            </div>

            <div class="col col-12 col-lg-7">
                <h3 class="input-name">Summary</h3>
                <div class="input-group mb-3">
                    <textarea name="summaryDescription" 
                        class="form-control user-input" 
                        rows="16" 
                        aria-label="With textarea"
                        ><%= bookDetail ? bookDetail.summary.trim(): ''%></textarea>
                </div>
            </div>

            <div class="col col-12 col-lg-5">
                <h3 class="input-name">Cover Photo</h3>
                <div class="input-group mb-3">
                    <input type="file" id="upload" name="bookCover" accept="image/png, image/jpg, image/jpeg" hidden/>
                    <label for="upload" class="button-upload">Upload Cover</label>

                    
                </div>
                <div id="display_image">
                    <p>Empty Image</p>
                </div>

            </div>

    </div>
    <button type="submit" class="col col-sm-12 submit-btn btn btn-outline-secondary">Submit Book Detail</button>
</form>

<script>
    const sharedImage = document.querySelector("#upload");
    let uploadedImageShare = "";

    sharedImage.addEventListener("change", function(){
        const reader = new FileReader();
        reader.addEventListener("load", function() {
            uploadedImageShare = reader.result;
            document.getElementById("display_image").innerHTML = "";
            document.getElementById("display_image").style.backgroundImage = `url(${uploadedImageShare})`
        })
        reader.readAsDataURL(this.files[0]);
})

</script>


<%- include("partials/footer.ejs") %>
